.landing .breadcrumbs,
.loading:not(.generating) .breadcrumbs,
.offline .breadcrumbs {
  display: none;
}
.breadcrumbs {
    border: none !important;
    padding: 10px 15px !important;
    margin: -10px 0 10px 0 !important;
    background: #ffffff !important;
}
.rendered .breadcrumbs {
  width: 664px;
  margin: -10px auto 10px auto !important;
}
.breadcrumbs a {
  text-decoration: underline;
}
.breadcrumbs > span:not(:first-child)::before {
  content: " > ";
  padding: 0 5px;
}
#breadcumb_home {
  font-weight: bold;
}
.breadcrumbs > span.active a {
  color: #000000 !important;
  cursor: default !important;
  text-decoration: none !important;
}

.intGEL .well {
  border: none;
}

button.btn-bold {
  font-weight: bold;
  border-color: #777;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: #b60000;
  text-transform: uppercase;
  font-size: 9px;
  width: 25%;
  float: left;
  position: relative;
  text-align: center;
}
#progressbar li.complete {
  text-decoration: underline;
  cursor: pointer;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.complete:before,  #progressbar li.complete:after,
#progressbar li.active:before,  #progressbar li.active:after{
  background: #b60000;
  color: white;
}

.user-messages .message {
    display: block;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    padding: 15px;
    position: relative;
}
.user-messages .message:not(:last-child) {
  margin-bottom: 15px;
}
.user-messages .user-messages-title {
  font-weight: bold;
} 
.user-messages .user-messages-user {
  font-style: italic;
  color: #aaa;
  margin-bottom: 5px;
} 
.user-messages .user-messages-date {
  position: absolute;
  top: 16px;
  right: 15px;
  font-style: italic;
  color: #aaa;
}
.user-messages .user-messages-text {
  margin-top: 10px;
}
.user-messages .user-messages-text ul {
  list-style: disc;
  margin: 10px 0 0 0;
  padding: 0 24px;
}
.user-messages .user-messages-text li {
  padding: 2px 0;
}

body.landing #error {
  max-width: 800px;
  margin: 5px auto 15px auto;
}

#landing {
  margin-top: 0;
}

#landing h2 {
  max-width: 800px;
  margin: 14px auto;
  padding: 5px 0;
  border-bottom: 1px solid #aaa;
  font-size: 25px;
}

#hero.collapsed {
  display: none;
}

#welcome-wrapper.collapsed {
  background: none;
  margin: -5px 0 0 0;
  padding: 0;
}
#welcome-wrapper.collapsed #welcome {
  border: none;
  margin-bottom: 0;
  padding-bottom: 10px;
}
#welcome-wrapper.collapsed #features {
  display: none;
}

#hero {
  margin: -60px -20px 80px;
  text-align: center;
  background: -moz-linear-gradient(top,  rgba(187,0,0,0.3) 0%, rgba(187,0,0,0.6) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(187,0,0,0.3) 0%,rgba(187,0,0,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(187,0,0,0.3) 0%,rgba(187,0,0,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dbb0000', endColorstr='#99bb0000',GradientType=0 ); /* IE6-9 */
}
#hero img {
  width: 80%;
  max-width: 640px;
  margin-bottom: -80px;
}
#welcome-wrapper {
    background: #ffffff;
    margin: -80px -20px 30px;
    padding: 80px 0 30px;
}
#welcome-toggle {
  font-weight: normal;
  position: relative;
  bottom: -5px;
  background: none;
  color: #888;
}
#welcome {
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 25px;
}
#welcome .tooltip-info {
  cursor: default;
}
#features {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
#features i {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  font-size: 3em;
  margin-bottom: 20px;
}
#features .feature {
  font-weight: bold;
}
#features .desc {
  font-style: italic;
}

#landing > p {
  max-width: 800px;
  margin: 0 auto;
  padding: 3px 15px;
}

#landing .row {
  max-width: 800px;
  margin: 0 auto;
}

#landing .info-box {
  cursor: pointer;
  display: block;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 2px;
  margin-bottom: 15px;
}
#landing .info-box:hover {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.4);
}
#landing .new .info-box {
  min-height: 60px;
}

#landing #recent-filter-wrapper {
  max-width: 800px;
  margin: 0 auto;
  text-align: right;
  height: 0;
  position: relative;
  top: -46px;
}

#landing .saved:not(.empty) .empty,
#landing .saved:not(.loading) .loading,
#landing .saved.loading > div:not(.loading) {
  display: none;
}

#landing .saved .loading {
    text-align: center;
    margin-top: 25px;
    color: #999;
}

#landing .saved .info-box {
  min-height: 90px;
}

#landing .saved [data-id='template'] {
  display: none;
}

#landing .saved [data-finished='false'] .info-box-content .name {
  text-decoration: line-through;
}

#landing .info-box .info-box-content {
    float: left;
    width: calc(100% - 90px - 20px);
}

#landing .info-box .info-box-content i:not(:first-child) {
  margin-left: 10px;
}

#landing .info-box .info-box-content .name {
  font-style: italic;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% - 40px);
  display: inline-block;
  height: 1em;
  line-height: 1em;
  position: relative;
  top: 3px;
}

#landing .info-box .info-box-content .user {
  display: inline-block;
  height: calc(1em + 2px);
  line-height: 1em;
  width: calc(100% - 95px);
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  top: 4px;
}

#landing .box-icon {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  margin-right: 20px;
  display: block;
  float: left;
  text-align: center;
  font-size: 45px;
  background: rgba(0,0,0,0.2);
}
#landing .new .box-icon {
  background-size: 40px !important;
  height: 60px;
  width: 60px;
  line-height: 60px;
}

#vcs-site-button {
  max-width: 150px;
  min-width: 150px;
}
#vcs-site-button {
  max-width: 180px;
}
#vcs-site {
  max-width: 180px;
  min-width: 180px;
}

#vcs-text {
  font-size: 13px;
  padding: 3px 8px;
  display: inline-block;
  width: 250px;
  margin: 0 5px;
  position: relative;
  top: 1px;
}

#new-vcs table {
  font-size: 13px;
  margin-bottom: 0;
  margin-top: 10px;
}
#new-vcs table thead {
  display: block;
}
#new-vcs table tbody {
  overflow: scroll;
  display: block;
  margin-bottom: 0;
}
#new-vcs table td,
#new-vcs table th{
  padding: 4px 8px;
  user-select: none;
}
#new-vcs table tbody tr.active td{
  background: #ffff99;
}
#new-vcs table tbody tr td:nth-child(1),
#new-vcs table tbody tr td:nth-child(2),
#new-vcs table tbody tr td:nth-child(3){
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#new-vcs table tbody tr td:nth-child(1){
  min-width: 90px;
  max-width: 90px;
  width: 90px;
}
#new-vcs table tbody tr td:nth-child(2){
  min-width: 140px;
  max-width: 140px;
  width: 140px;
}
#new-vcs table tbody tr td:nth-child(3){
  min-width: 330px;
  max-width: 330px;
  width: 330px;
}
#new-vcs table tbody tr.error{
  pointer-events: none;
  cursor: default;
}
#new-vcs table tbody tr.error td{
  text-align: center;
  font-style: italic;
}
#new-vcs table tbody input,
#new-png table tbody input {
    margin: 0
}
#new-vcs table tbody tr,
#new-png table tbody tr {
    cursor: pointer;
}

#landing .saved [data-hideVersion=true] {
  display: none;
}

#landing .saved .box-icon {
  background-color: #e6e6e6 !important;
  background-size: auto 90px !important;
  height: 90px;
  width: 90px;
  line-height: 90px;
}

#landing .new .info-box-content {
  line-height: 60px;
}
#landing .saved .info-box-content {
  line-height: 37px;
}
#landing .saved .info-box-content div:nth-child(2) {
  margin: -12px 0;
}

#landing .saved .info-box-content .version-count {
  display: inline-block;
  padding-left: 10px;
}

#landing .saved .info-box-content .private {
  position: absolute;
  top: 20px;
  right: 20px;
  padding-left: 5px;
}
#landing .saved .info-box-content .private:before {
    position: relative;
    top: -10px;
}

#unauth,
#whitelist,
#messages-edit {
  max-width: 800px;
  margin: 0 auto;
}

.loading #messages-edit {
  display: none;
}

#unauth .alert {
  margin: 0;
}

#input-image-pid,
#input-webcap-link {
  margin-left: 15px;
  font-size: 13px;
  border-bottom: 1px dotted;
  text-decoration: none;
}
#input-image-pid:hover {
  border-bottom: 1px solid;
}

#input-subtitles {
  position: relative;
  top: -1px;
}

.input-background-type {
  width: calc(100% + 30px);
}

.transcript-buttons {
    font-size: 13px;
    margin: -8px 0 8px;
}
.transcript-buttons > div {
    position: relative;
    display: inline-block;
}
.transcript-buttons button {
    padding: 3px 8px;
    position: relative;
}
.transcript-buttons button input{
    cursor: pointer;
}
.transcript-buttons button.active {
    cursor: default;
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

#transcript-btn-enabled #input-subtitles {
  position: absolute;
  top: 2px;
  margin-left: -17px;
}

#transcript-btn-enabled .on,
#transcript-btn-enabled .off {
  width: 11px;
}
#transcript-btn-enabled .on {
    color: #3f81cc;
}
#transcript-btn-enabled .off {
    color: #bbbbbb;
}
#transcript-btn-enabled[data-enabled='true'] .off,
#transcript-btn-enabled[data-enabled='false'] .on {
    display: none;
}
.transcript-buttons button select {
    opacity: 0;
    background: transparent;
    border: none;
    height: 24px;
    font-size: 13px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

#transcript-timings.recording .buttons-start,
#transcript-timings:not(.recording) .buttons-stop {
  display: none;
}

#transcript-timings > .buttons {
    margin: 0;
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 8px 0;
    margin-bottom: 8px;
}
#transcript-timings > .buttons button {
  padding: 3px 8px;
  font-size: 13px;
}

#transcript:not(.timings) button.timingsOnly,
#transcript.timings #transcript-btn-timings {
  display: none !important;
}
#transcript.timings > .transcript-buttons button:not(.timingsOnly) {
  opacity: 0.4;
  pointer-events: none;
}

#transcript-timings [data-toggle="tooltip"] {
  position: absolute;
}

#transcript-timings .label {
  width: 100%;
  color: #aaa;
  display: block;
  position: relative;
  height: 20px;
}
#transcript-timings .label > span {
    width: 80px;
    display: inline-block;
    position: absolute;
}

#transcript-timings:not(.recording) .block:not([data-start]):not([data-end]) {
  opacity: 0.7;
}
#transcript-timings .block {
  text-align: center;
}
#transcript-timings .block .box{
    border: 1px solid #ccc;
    margin: 0 auto 5px auto;
    padding: 10px;
    clear: both;
    position: relative;
    display: inline-block;
    text-align: center;
}
#transcript-timings.recording .block .box{
  background: #eee;
}
#transcript-timings.recording:not(.playing) .block .box{
  pointer-events: none;
}
#transcript-timings.playing .block.current .box,
#transcript-timings.recording .block.active .box{
  background: rgba(255, 255, 0, 0.5);
}
#transcript-timings.recording .block.active .box{
  cursor: pointer;
}
#transcript-timings.recording .block.staged .box{
  cursor: pointer;
  background: #fff;
}
#transcript-timings.recording .block.staged .box:hover{
  background: rgba(255, 255, 0, 0.15);
}
#transcript-timings .block .times input {
    font-size: 14px;
    padding: 1px;
    width: 80px;
    display: block;
    position: absolute;
    text-align: center;
    background: transparent;
}
#transcript-timings .block .times input.invalid {
  color: red;
  border-color: red;
}
#transcript-timings.playing .block .times input,
#transcript-timings.recording .block .times input {
    border-color: transparent;
    outline: none;
    pointer-events: none;
}

#transcript-timings.recording .block:not([data-start]):not(.active):not(.staged) input[name='start'],
#transcript-timings.recording .block:not([data-end]):not(.active) input[name='end']{
  display: none;
}
#transcript-timings .block .times input[name='start'] {
  top: 8px;
  left: 8px;
}
#transcript-timings .block .times input[name='end'] {
  bottom: 8px;
  right: 8px;
}
#transcript-timings .block .subtitles{
  margin: 0 85px;
  padding: 0 25px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.transcript-speaker select {
  width: 100px;
  margin: -2px 0 !important;
  height: 20px;
  padding: 0;
  color: #337ab7;
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  outline: none;
}

.transcript-editor {
  position: relative;
  border: 1px solid #ddd;
  padding: 15px;
  cursor: text;
  overflow-y: scroll;
}

.transcript-btn-select {
    display: none;
    z-index: 999;
    color: white;
    position: absolute;
    top: 232px;
    left: 220px;
    padding: 3px 7px 5px 7px;
    border-radius: 3px;
    background: rgba(0,0,0,0.95);
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.transcript-btn-select:after, .transcript-btn-select:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.transcript-btn-select:before {
	border-color: rgba(0, 0, 0, 0, 0.9);
	border-top-color: rgba(0, 0, 0, 0.9);
	border-width: 8px;
	margin-left: -8px;
}
.transcript-btn-select:hover {
    text-decoration: underline;
}

.transcript-content {
    outline: none;
}

.transcript-more {
  padding-left: 100px;
  width: 100%;
  position: relative;
  z-index: 9;
}

.transcript-more.before {
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  margin: 10px 0 -40px 0;
  padding-bottom: 20px;
}
.transcript-more.before a {
  top: -15px;
}

.transcript-more.after {
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); 
  margin: -40px 0 10px 0;
  padding-top: 20px;
}
.transcript-more.after a {
  bottom: -5px;
}

.transcript-more a {
  position: relative;
  display: inline-block;
  text-align: center;
}

.transcript-block {
    clear: both;
    position: relative;
}
.transcript-block:after {
  content: "";
  display: table;
  clear: both;
}
.transcript-block:not(:first-child) {
    margin-top: 4px;
    padding-top: 5px;
    border-top: 1px dashed #ccc;
}

.transcript-timestamp {
  position: absolute;
  top: 7px;
  right: 0;
  color: #bbb;
  user-select: none;
}

.transcript-speaker {
    float: left;
    width: 100px;
}

.same-speaker .transcript-speaker select {
    opacity: 0;
}
.same-speaker:hover .transcript-speaker select {
    opacity: 1;
}

.transcript-segment {
    float: left;
    width: calc(100% - 100px);
    border-left: 3px solid;
    padding-left: 10px;
}

.transcript-editor-block {
  display: flex;
  margin-bottom: 10px;
}

.transcript-editor-block__speaker {
  width: 100px;
}

.transcript-editor-block__text {
  flex: 1;
  line-height: 1.7;
  position: relative;
  clear: both;
  border-left-width: 3px;
  border-left-style: solid;
  padding-left: 10px;
  margin-left: -10px;
}

.transcript-word {
    position: relative;
    display: inline-block;
    background-color: rgba(147, 197, 247, 0.5);
    border: 1px solid #ddd;
    padding: 0px 3px;
    border-radius: 3px;
    margin: 1px;
    min-height: 21px;
}
.transcript-word:not(.unused).played {
  background-color: rgba(147, 197, 247, 1);
}

.transcript-word.added {
    background-color: rgba(255, 195, 195, 0.5);
}
.transcript-word.added:not(.unused).played  {
    background-color: rgba(255, 195, 195, 1);
}
.transcript-word.time-manual:not(.unused) {
      background-color: rgba(92, 184, 92, 0.3);
}
.transcript-word.time-manual:not(.unused).played {
      background-color: rgba(92, 184, 92, 0.6);
}


.transcript-word.unused {
  opacity: 0.5;
  background-color: #eee;
}

#transcript-pane.disabled .transcript-word {
    background-color: #eee;
}

.transcript-space {
    margin: 0 -2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.transcript-line {
    display: block;
    height: 0;
}

.transcript-editor-block__word.played:not(.unused) {
  background-color: #aad4ff;
}

.transcript-editor-block__word::-moz-selection{
  background-color: #b63838;
}
.transcript-editor-block__word::selection{
  background-color: #b63838;
}

#transcript .transcript-editor-block__space,
#transcript .transcript-editor-block__word {
  display: inline-block;
  float: left;
  line-height: 1em;
  margin-bottom: 5px;
}

#transcript .transcript-editor-block__space.line-break {
  clear: both;
  width: 0;
}

#transcript .transcript-editor-block__space.page-break {
  clear: both;
  width: 100%;
  height: 5px;
}

#transcript .transcript-editor-block__space,
#transcript .transcript-editor-block__space *{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
}

#transcript.loading transcript,
#transcript.error transcript,
#transcript.loading .transcript-buttons,
#transcript.error .transcript-buttons,
#transcript.timings #transcript-pane,
#transcript:not(.timings) #transcript-timings,
#transcript:not(.loading) .loading,
#transcript:not(.error) .error {
  display: none;
}

#transcript .loading,
#transcript .error,
#transcript .new  {
  text-align: center;
  color: #999;
  padding: 50px 0;
}

#transcript .new button{
  margin-top: 10px;
}

#transcript .page-header .tip{
  line-height: 18px;
}

#row-theme:not(.advanced) #group-theme-advanced {
  display: none;
}

#row-theme.advanced #group-theme-advanced {
  width: 25%;
  float: right;
}
#row-theme:not(.advanced) #group-theme-wrapper {
  width: 75%;
}
#row-theme #group-theme-advanced i.fa {
    margin: 0;
}

#row-wave:not(.advanced) #row-wave-sliders,
#row-wave.advanced #group-wave-advanced{
  display: none;
}
#row-wave #group-wave-advanced i.fa {
    margin: 0;
}

#row-wave.advanced #group-pattern{
  width: calc(75% - 15px);
}

#row-wave-sliders .tip {
  line-height: 30px;
}

#row-wave-sliders hr {
    margin: 7px 0 3px 0;
}

body {
  display: flex;
  flex-direction: column;
}

div.wrapper {
  flex: 1 0 auto;
  width: 100%;
  /* max-width: 1500px; */
  padding: 0 20px;
  margin-bottom: 60px;
  margin: 10px auto;
}

h1 {
  font-weight: 500;
  margin-top: 2rem;
  font-size: 48px;
}

.red {
  color: #c00;
}

.intGEL .well {
  margin: 10px 0;
}
.intGEL .nav-tabs > li > a{
  font-size: 12px;
  text-transform: uppercase;
}
.intGEL .intGEL-arrow {
  width: 100%;
}
.intGEL hr {
  margin: 10px 0;
}
.intGEL .row {
  margin: 0 -15px;
}
.intGEL input[type='text'].form-control {
  width: 100%;
}
.intGEL .dropdown-menu[role='menu'] {
  max-width: none;
}
label.settings {
    line-height: 33px;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0;
}

input[type='color']{
  height: 33px;
  width: 100%;
  padding: 0;
  text-align: center;
}


.btn-group {
  width: 100%;
}
.btn.right {
  float: right !important;
}

#vcs-results {
  border-top: 1px solid #eeeeee;
  margin-top: 10px;
  padding-top: 5px;
}

.form-check-label {
  text-indent: -20px;
  margin-left: 20px;
}

#splash h1{
  line-height: 50px;
  text-align: center;
}
#splash h1 svg{
  margin-left: 20px;
}

/* Buttons/controls */
button,
.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  margin: 3px;
  outline: 0;
  font-size: 16px;
}

body > .wrapper button#playbackRate.button-select {
  width: 111px !important;
  padding: 3px 30px 3px 33px;
}
body > .wrapper button#playbackRate.button-select label {
  padding: 0
}
body > .wrapper button#playbackRate.button-select select {
    padding-left: 50px !important;
    margin-left: -50px !important;
}

body > .wrapper button#playbackRate.button-select:after {
  display: none;
}

#playbackRate[data-rate='1'],
#playbackRate[data-rate='1'] select,
#playbackRate[data-rate='1'] i {
    color: #333;
}
#playbackRate:hover,
#playbackRate:hover select,
#playbackRate:hover i{
  color: #333;
}
#playbackRate:hover,
#playbackRate:hover i{
  background-color: #e6e6e6;
  border-color: #adadad;
}

#download {
  /*padding: 9px 12px 6px 12px;*/
  /*color: #fff;*/
  /*background-color: #5bc0de;*/
  /*border-color: #46b8da;*/
}

#download:hover {
  background-color: #31b0d5;
  border-color: #269abc;
}

button:hover,
input[type='submit']:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

button:active,
#download:active,
input[type='submit']:active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.tip {
  color: #555;
  font-size: 13px;
  line-height: 15px;
  text-align: left;
}

.tip a {
  text-decoration: underline;
}

.tip.subFormatToggle{
  position: absolute;
  top: 11px;
  right: 15px;
}

#shortcuts {
  text-align: left;
}

#shortcuts .col {
  width: 50%;
  float: left;
}

#shortcuts .col div {
  margin: 3px 0;
}

.note {
  color: #999;
  font-size: 12px;
}

#play {
  width: 66px;
}

.controls {
  text-align: right;
}

#minimap.trimmed:hover .timecodes {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

#minimap .timecodes {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  position: absolute;
  top: 83px;
  text-align: left;
  width: 100%;
}

#minimap .timecodes input{
  width: 75px;
  font-size: 13px;
  text-align: center;
  padding: 3px;
}

#start {
  position: relative;
  left: 0;
}
#end {
  position: absolute;
  left: 565px;
}

.controls i.fa {
  margin-right: 4px;
}

i.fa {
  margin-right: 6px;
}

i.fa-play {
    position: relative;
    bottom: 1px;
}

.controls button {
  padding: 3px 6px;
  font-size: 13px;
}

#error,
#vcs-results.error {
  color: #c00;
}

#error {
  font-weight: 600;
}

#row-submit{
  margin-top: 10px;
}

.row.error input,
.row.error label {
  color: #c00;
}

/* Form */
.row {
  margin: 1rem 0;
}

label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 500;
}

select {
  margin-top: 6px;
  padding: 6px;
}

input[type='text'] {
  width: 100%;
  padding: 6px;
  color: #666;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 0 0;
}

/* Preview canvas */
#canvas-wrapper {
  border-top: 3px solid #b60000;
  margin: 0;
}

#canvas {
  position: relative;
  text-align: center;
  background: #ccc;
}

#preview-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  text-transform: uppercase;
  opacity: 0.2;
  font-size: 28px;
}

#canvas,
#video {
  margin-left: auto;
  margin-right: auto;
}

#preview-footnote {
  margin: 5px 0 -5px 0;
  font-size: 12px;
  line-height: 12px;
  text-align: left;
  color: #888;
  border-top: 1px solid #ccc;
  padding-top: 5px;
}

/* Minimap */

#minimap {
  margin-bottom: 10px;
}

#minimap:not(.disabled) .disabled {
  display: none;
}
#minimap.disabled .disabled {
    width: 100%;
    height: 80px;
    background: transparent;
    margin-bottom: -80px;
    cursor: crosshair;
    position: relative;
    z-index: 999;
}
#minimap.disabled input {
  pointer-events: none;
}

#minimap .map {
  width: calc(100% - 270px);
  float: left;
}

#minimap .map svg {
  transform: scaleY(1.15);
  height: 92px;
  position: relative;
  top: 6px;
}

#minimap .controls {
  width: 250px;
  float: right;
  text-align: left;
  padding-bottom: 7px;
}

#minimap .controls hr {
  margin: 1px 0 5px;
}

#minimap .controls #loop i {
  color: #3f81cc;
}

#duration {
  width: 111px;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  line-height: 13px;
}

#duration .red{
  background: #c00;
  color: white;
  padding: 0 4px;
}

#duration .red:before {
   font-family: FontAwesome;
   content: "\f071";
   padding-right: 3px;
}

#minimap .controls button {
  width: 111px;
  display: inline-block;
  margin-bottom: 4px;
}

#minimap.trimmed .controls button#trim,
#minimap:not(.trimmed) .controls button#trim_clear {
  display: none;
}

g.background path {
  fill: #999;
}

g.background line {
  stroke: #999;
}

g.foreground path {
  fill: #de1e3d;
}

g.foreground line {
  stroke: #de1e3d;
}

g.brush .extent {
  fill: none;
  stroke: none;
}

g.brush line {
  stroke-width: 3px;
  stroke: #de1e3d;
}

g.time {
  pointer-events: none;
}

g.time line {
  stroke-width: 1px;
  stroke: #0eb8ba;
}

/* UI states */
#audio {
  display: none;
}

#generated {
  width: 664px;
  margin: auto;
}

#landing,
#loading,
#error,
#success,
#generated,
.landing #loaded,
.loading #loaded,
.rendered #loaded {
  display: none;
}

.landing #landing,
.loading #loading,
.error #error,
.success #success,
.rendered #generated {
  display: block;
}

#browserWarning {
  margin: -10px 0 30px 0;
}
.landing #browserWarning {
  margin: -10px 0 50px 0;
}

/*.rendered #download,
.rendered #return {
  display: inline-block;
}*/

/* Loading styles */
#offline {
    display: block;
    position: absolute;
    width: 100%;
    height: 983px;
    background: #eee;
    z-index: 9999;
    text-align: center;
    color: #de1e3d;
    margin-top: 60px;
    padding-top: 40px;
}

#loading-message,
#offline-message {
  font-size: 24px;
  text-align: center;
  color: #de1e3d;
}

#loading-bars {
  margin: 60px auto 40px auto;
  width: 200px;
  height: 120px;
  text-align: center;
  font-size: 10px;
}

#loading-bars > div {
  background-color: #de1e3d;
  height: 100%;
  width: 16px;
  margin-right: 3px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

#loading-bars .r2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

#loading-bars .r3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

#loading-bars .r4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

#loading-bars .r5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  margin-right: 0;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/* Editor Tabs */
#editor-wrapper .well {
  box-shadow: none;
  margin: 0;
  padding: 12px 0 0 0;
}

.nav-tabs > li a {
  border-top: 3px solid transparent !important;
  border-bottom: none !important;
}
.nav-tabs > li.active a {
  border-color: #b60000 !important;
}
.nav-tabs > li {
  font-family: "ReithSans";
}

/* Buttons */
body > .wrapper button {
    padding: 3px 8px;
    position: relative;
    font-size: 13px;
}

body > .wrapper button.button-select {
  position: relative;
  display: inline-block;
  cursor: pointer;
  /* width: 180px; */
  text-align: left;
}
body > .wrapper button.button-select label {
  font-weight: bold;
  font-size: 13px;
  padding-right: 5px;
  margin: 0;
}
body > .wrapper button.button-select select {
  background: transparent;
  color: #333;
  border: none;
  line-height: 24px;
  font-size: 13px;
  position: absolute;
  top: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  padding-right: 30px;
  outline: none !important;
  box-shadow: none !important;
  font-weight: normal;
}
body > .wrapper button.button-select:after {
    font-family: FontAwesome;
    font-size: 15px;
    content: "\f0dd";
    position: absolute;
    right: 7px;
    top: -1px;
    pointer-events: none;
}

/* DESIGN TAB */
#editor-tab-design {
  margin-bottom: -12px;
}

#editor-tab-design input[type="file"] {
  line-height: 13px;
  font-size: 11px;
}

#editor-tab-design input[type="color"] {
  width: 100px;
  border-radius: 4px;
  border-color: rgb(204, 204, 204);
  height: 26px;
  position: absolute;
  padding: 0 2px;
}

#section-theme {
  font-size: 13px;
}

#section-theme #theme-change span {
  font-style: italic;
  margin-left: 5px;
}
#section-theme #theme-save,
#section-theme #theme-reset {
  float: right;
  color: #666;
}#section-theme #theme-save i,
#section-theme #theme-reset i {
  color: #000000;
}
#section-theme #theme-save {
  margin-left: 5px;
}

.design-block {
    background: #fff;
    border-top: 15px solid #eee;
    margin: 0 -12px;
}

.design-block .heading {
    cursor: pointer;
    position: relative;
    padding: 10px 22px;
}

.design-block .heading .title {
    display: inline-block;  
    font-family: ReithSans;
    font-weight: bold;
    color: #3f81cc;
    font-size: 15px;
    min-width: 100px;
}

.design-block .heading .summary {
    display: inline-block;
    color: #999;
    font-style: italic;
    padding-left: 30px;
}

.design-block .heading i {
    position: absolute;
    right: 15px;
    top: 14px;
}

.design-block .body {
    padding: 10px 10px 15px 140px;
    border-top: 1px solid #eee;
    margin: 0 12px;
}

.design-block .slider-wrapper {
  position: relative;
}
.design-block .slider-wrapper:not(:last-child) {
  margin-bottom: 5px;
}
.design-block .slider-wrapper .ui-slider {
    width: 100px;
    position: absolute;
    right: 0;
    top: 7.5px;
}

#input-background-type-detail {
  margin-left: 15px;
}

#input-background-type-detail,
#input-overlay-type-detail {
  display: inline-block;
}

#design-waveform input[type='color'] {
  margin-left: 15px;
}

.design-block .position {
  position: relative;
  padding: 2px 0;
}
.design-block .position label {
  font-family: ReithSans;
  font-weight: bold;
  font-size: 13px;
}
.design-block .position .ui-slider {
    position: absolute;
    top: 7px;
    right: 0;
    width: 100px;
}

#input-caption-size {
    text-align: center;
    width: 100px;
    font-size: 15px;
    line-height: 24px;
    display: inline-block;
    padding: 0;
    margin: 0 15px;
}

button#submit,
button#view {
  font-size: 15px;
  padding: 3px 10px;
  font-weight: bold;
  border-color: #888;
}
button#submit i,
button#view i{
  position: relative;
  top: -1px;
}
#cancel {
    display: inline;
    float: right;
    line-height: 23px;
    font-size: 13px;
    color: #777;
    border-right: 1px solid #ccc;
    padding-right: 10px;
    margin: 3px 10px 3px 0;
    cursor: pointer;
}
#cancel:hover {
  color: #333;
}

#design-subtitles .body button {
  margin-right: 5px;
}
#design-subtitles .color-label {
  font-family: ReithSans;
  font-weight: bold;
  font-size: 13px;
  margin-right: 5px;
  position: relative;
  top: -2px;
  line-height: 26px;
}
#design-subtitles .speaker-color {
  display: inline-block;
  position: relative !important;
  margin-right: 5px;
}

/* THEMES MODAL */
.modal .modal-header {
  font-family: ReithSans;
  font-weight: bold;
}

#themes .modal-dialog {
  width: 890px;
}
#themes .modal-body {
  overflow-y: scroll;
}
#themes .group-title {
  font-family: 'ReithSans';
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  position: relative;
}
#themes .group-title .button-select {
  zoom: 0.9;
  position: absolute;
  top: -10px;
  right: 0;
}
#themes .row {
  margin: 15px 0;
}
#themes .theme {
  margin-bottom: 10px;
  cursor: pointer;
}
#themes .theme.template {
  display: none;
}
#themes .theme .info {
  background: #fff;
  position: relative;
  border-top: 4px solid #fff;
  -webkit-transition: top 0.3s ease-out;
  -moz-transition: top 0.3s ease-out;
  -o-transition: top 0.3s ease-out;
  transition: top 0.3s ease-out;
  top: 0;
}
#themes .theme:hover .info {
  top: -5px;
}
#themes .theme.active .info {
  border-top-width: 3px;
  margin-bottom: -1px;
}
#themes .theme.active .info hr {
  border-top: 3px solid #000;
}
#themes .theme .info hr {
  margin: 0;
  border-color: #ccc;
}
#themes .theme .info .title {
  font-family: ReithSans;
  font-size: 13px;
  height: 40px;
  overflow: hidden;
}
#themes .theme .preview {
  height: 104px;
  background: #ccc;
  text-align: center;
}
#themes .theme .preview img {
  width: auto;
  height: 100%;
  max-width: 100%;
}