.landing .breadcrumbs,
.loading:not(.generating) .breadcrumbs {
  display: none;
}
.breadcrumbs {
    border: none !important;
    padding: 10px 15px !important;
    margin: -10px 0 10px 0 !important;
    background: #ffffff !important;
}
.rendered .breadcrumbs {
  width: 664px;
  margin: -10px auto 10px auto !important;
}
.breadcrumbs a {
  text-decoration: underline;
}
.breadcrumbs > span:not(:first-child)::before {
  content: " > ";
  padding: 0 5px;
}
#breadcumb_home {
  font-weight: bold;
}
.breadcrumbs > span.active a {
  color: #000000 !important;
  cursor: default !important;
  text-decoration: none !important;
}


#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: #b60000;
  text-transform: uppercase;
  font-size: 9px;
  width: 25%;
  float: left;
  position: relative;
  text-align: center;
}
#progressbar li.complete {
  text-decoration: underline;
  cursor: pointer;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.complete:before,  #progressbar li.complete:after,
#progressbar li.active:before,  #progressbar li.active:after{
  background: #b60000;
  color: white;
}

#user-messages .message {
    cursor: pointer;
    display: block;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

#landing {
  margin-top: -30px;
}

#landing h2 {
  max-width: 800px;
  margin: 14px auto;
  padding: 5px 0;
  border-bottom: 1px solid #aaa;
  font-size: 25px;
}

#landing > p {
  max-width: 800px;
  margin: 0 auto;
  padding: 3px 15px;
}

#landing .row {
  max-width: 800px;
  margin: 0 auto;
}

#landing .info-box {
  cursor: pointer;
  display: block;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 2px;
  margin-bottom: 15px;
}
#landing .info-box:hover {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.4);
}
#landing .new .info-box {
  min-height: 60px;
}

#landing #recent-filter-wrapper {
  max-width: 800px;
  margin: 0 auto;
  text-align: right;
  height: 0;
  position: relative;
  top: -53px;
}
#landing #recent-filter-wrapper label {
  width: auto;
}
#landing #recent-filter-wrapper select {
  background: #fff;
}

#landing .saved .info-box {
  min-height: 90px;
}

#landing .saved [data-id='template'] {
  display: none;
}

#landing .info-box .info-box-content {
    float: left;
    width: calc(100% - 90px - 20px);
}

#landing .info-box .info-box-content i:not(:first-child) {
  margin-left: 10px;
}

#landing .info-box .info-box-content .name {
  font-style: italic;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% - 40px);
  display: inline-block;
  height: 1em;
  line-height: 1em;
  position: relative;
  top: 3px;
}

#landing .info-box .info-box-content .user {
  display: inline-block;
  height: calc(1em + 2px);
  line-height: 1em;
  width: calc(100% - 90px);
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  top: 4px;
}

#landing .box-icon {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  margin-right: 20px;
  display: block;
  float: left;
  text-align: center;
  font-size: 45px;
  background: rgba(0,0,0,0.2);
}
#landing .new .box-icon {
  background-size: 40px !important;
  height: 60px;
  width: 60px;
  line-height: 60px;
}

#new-vcs table tbody tr td:first-child,
#new-png table tbody tr td:first-child {
    text-align: center;
}
#new-vcs table tbody input,
#new-png table tbody input {
    margin: 0
}
#new-vcs table tbody tr,
#new-png table tbody tr {
    cursor: pointer;
}

#landing .saved [data-hideVersion=true] {
  display: none;
}

#landing .saved .box-icon {
  background-color: #e6e6e6 !important;
  background-size: auto 90px !important;
  height: 90px;
  width: 90px;
  line-height: 90px;
}

#landing .new .info-box-content {
  line-height: 60px;
}
#landing .saved .info-box-content {
  line-height: 37px;
}
#landing .saved .info-box-content div:nth-child(2) {
  margin: -12px 0;
}

#landing .saved .info-box-content .version-count {
  display: inline-block;
  padding-left: 10px;
}

#landing .saved .info-box-content .private {
  position: absolute;
  top: 20px;
  right: 20px;
  padding-left: 5px;
}
#landing .saved .info-box-content .private:before {
    position: relative;
    top: -10px;
}

#unauth,
#whitelist {
  max-width: 800px;
  margin: 0 auto;
}

#unauth .alert {
  margin: 0;
}

#input-image-pid,
#input-webcap-link {
  line-height: 35px;
  font-size: 0.9em;
  border-bottom: 1px dotted;
  text-decoration: none;
}
#input-image-pid:hover {
  border-bottom: 1px solid;
}

#input-subtitles {
  position: relative;
  top: -1px;
}

.input-background-type {
  width: calc(100% + 30px);
}

select.transcript-speaker {
  width: 100px;
  margin: -2px 0 !important;
  height: 20px;
  padding: 0;
  color: #337ab7;
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.transcript-editor {
  border: 1px solid #ddd;
  padding: 15px;
  cursor: text;
}

.transcript-editor-block {
  display: flex;
  margin-bottom: 10px;
}

.transcript-editor-block__speaker {
  width: 100px;
}

.transcript-editor-block__text {
  flex: 1;
  line-height: 1.7;
  position: relative;
  clear: both;
  border-left-width: 3px;
  border-left-style: solid;
  padding-left: 10px;
  margin-left: -10px;
}

.transcript-editor-block__word {
  background-color: #d4eaff;
  border: 1px solid #ddd;
  padding: 1px 2px;
}

.transcript-editor-block__word.unused {
  opacity: 0.5;
  background-color: #eee;
}

.transcript-editor-block__word.played:not(.unused) {
  background-color: #aad4ff;
}

.transcript-editor-block__word::-moz-selection{
  background-color: #b63838;
}
.transcript-editor-block__word::selection{
  background-color: #b63838;
}

#transcript .transcript-editor-block__space,
#transcript .transcript-editor-block__word {
  display: inline-block;
  float: left;
  line-height: 1em;
  margin-bottom: 5px;
}

#transcript .transcript-editor-block__space.line-break {
  clear: both;
  width: 0;
}

#transcript .transcript-editor-block__space.page-break {
  clear: both;
  width: 100%;
  height: 5px;
}

#transcript .transcript-editor-block__space,
#transcript .transcript-editor-block__space *{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
}

#transcript.loading transcript,
#transcript.error transcript,
#transcript.loading .transcript-export,
#transcript.error .transcript-export,
#transcript:not(.loading) .loading,
#transcript:not(.error) .error {
  display: none;
}

#transcript .loading,
#transcript .error,
#transcript .new  {
  text-align: center;
  color: #999;
  padding: 50px 0;
}

#transcript .new button{
  margin-top: 10px;
}

#transcript .page-header .tip{
  line-height: 18px;
}

#row-theme:not(.advanced) #group-theme-advanced {
  display: none;
}

#row-theme.advanced #group-theme-advanced {
  width: 25%;
  float: right;
}
#row-theme:not(.advanced) #group-theme-wrapper {
  width: 75%;
}
#row-theme #group-theme-advanced i.fa {
    margin: 0;
}

#row-wave:not(.advanced) #row-wave-sliders,
#row-wave.advanced #group-wave-advanced{
  display: none;
}
#row-wave #group-wave-advanced i.fa {
    margin: 0;
}

#row-wave.advanced #group-pattern{
  width: calc(75% - 15px);
}

#row-wave-sliders .tip {
  line-height: 30px;
}

#row-wave-sliders hr {
    margin: 7px 0 3px 0;
}

body {
  display: flex;
  flex-direction: column;
}

div.wrapper {
  flex: 1 0 auto;
  width: 100%;
  max-width: 1500px;
  padding: 20px;
  margin-bottom: 60px;
  margin: 1rem auto 0 auto;
}

h1 {
  font-weight: 500;
  margin-top: 2rem;
  font-size: 48px;
}

.red {
  color: #c00;
}

.intGEL .well {
  margin: 10px 0;
}
.intGEL .nav-tabs > li > a{
  font-size: 12px;
  text-transform: uppercase;
}
.intGEL .intGEL-arrow {
  width: 100%;
}
.intGEL hr {
  margin: 10px 0;
}
.intGEL .row {
  margin: 0 -15px;
}
.intGEL input[type='text'].form-control {
  width: 100%;
}
.intGEL .dropdown-menu[role='menu'] {
  max-width: none;
}
label.settings {
    line-height: 33px;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0;
}

input[type='color']{
  height: 33px;
  width: 100%;
  padding: 0;
  text-align: center;
}


.btn-group {
  width: 100%;
}
.btn.right {
  float: right !important;
}

#vcs-results {
  border-top: 1px solid #eeeeee;
  margin-top: 10px;
  padding-top: 5px;
}

.form-check-label {
  text-indent: -20px;
  margin-left: 20px;
}

#splash h1{
  line-height: 50px;
  text-align: center;
}
#splash h1 svg{
  margin-left: 20px;
}

/* Buttons/controls */
button,
.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  margin: 3px;
  outline: 0;
  font-size: 16px;
}

#download {
  /*padding: 9px 12px 6px 12px;*/
  /*color: #fff;*/
  /*background-color: #5bc0de;*/
  /*border-color: #46b8da;*/
}

#download:hover {
  background-color: #31b0d5;
  border-color: #269abc;
}

button:hover,
input[type='submit']:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

button:active,
#download:active,
input[type='submit']:active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.tip {
  color: #555;
  font-size: 13px;
  line-height: 15px;
  text-align: left;
}

.tip a {
  text-decoration: underline;
}

.tip.subFormatToggle{
  position: absolute;
  top: 11px;
  right: 15px;
}

#duration {
  font-size: 13px;
  line-height: 13px;
  margin-bottom: 5px;
}

#duration .red{
  background: #c00;
  color: white;
  padding: 0 4px;
}

#duration .red:before {
   font-family: FontAwesome;
   content: "\f071";
   padding-right: 3px;
}

#shortcuts {
  text-align: left;
}

#shortcuts .col {
  width: 50%;
  float: left;
}

#shortcuts .col div {
  margin: 3px 0;
}

.note {
  color: #999;
  font-size: 12px;
}

#play {
  width: 66px;
}

#controls {
  text-align: right;
}

#controls #timecodes {
  position: relative;
  text-align: left;
  margin: 10px 0;
}

#controls #timecodes input{
  width: 75px;
  font-size: 13px;
  text-align: center;
}

#start {
  position: relative;
  left: 0;
}
#end {
  position: absolute;
  left: 565px;
}

#controls i.fa {
  margin-right: 4px;
}

i.fa {
  margin-right: 6px;
}

i.fa-play {
    position: relative;
    bottom: 1px;
}

#controls button {
  padding: 3px 6px;
  font-size: 13px;
}

#error,
#vcs-results.error {
  color: #c00;
}

#error {
  font-weight: 600;
}

#row-submit{
  margin-top: 10px;
}

.row.error input,
.row.error label {
  color: #c00;
}

/* Form */
.row {
  margin: 1rem 0;
}

label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 500;
}

select {
  margin-top: 6px;
  padding: 6px;
}

input[type='text'] {
  width: 100%;
  padding: 6px;
  color: #666;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 0 0;
}

/* Preview canvas */
#canvas {
  position: relative;
}

#preview-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  text-transform: uppercase;
  opacity: 0.2;
  font-size: 28px;
}

#canvas,
#video {
  margin-left: auto;
  margin-right: auto;
}

/* Minimap */

g.background path {
  fill: #999;
}

g.background line {
  stroke: #999;
}

g.foreground path {
  fill: #de1e3d;
}

g.foreground line {
  stroke: #de1e3d;
}

g.brush .extent {
  fill: none;
  stroke: none;
}

g.brush line {
  stroke-width: 3px;
  stroke: #de1e3d;
}

g.time {
  pointer-events: none;
}

g.time line {
  stroke-width: 1px;
  stroke: #0eb8ba;
}

/* UI states */
#audio {
  display: none;
}

#generated {
  width: 664px;
  margin: auto;
}

#landing,
#loading,
#error,
#success,
#generated,
.landing #loaded,
.loading #loaded,
.rendered #loaded {
  display: none;
}

.landing #landing,
.loading #loading,
.error #error,
.success #success,
.rendered #generated {
  display: block;
}

/*.rendered #download,
.rendered #return {
  display: inline-block;
}*/

/* Loading styles */
#loading-message {
  font-size: 24px;
  text-align: center;
  color: #de1e3d;
}

#loading-bars {
  margin: 60px auto 40px auto;
  width: 200px;
  height: 120px;
  text-align: center;
  font-size: 10px;
}

#loading-bars > div {
  background-color: #de1e3d;
  height: 100%;
  width: 16px;
  margin-right: 3px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

#loading-bars .r2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

#loading-bars .r3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

#loading-bars .r4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

#loading-bars .r5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  margin-right: 0;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
